.panel {
    background-color: rgba(202, 199, 3, 0.44);
}

.hide {
    display: none;
}

.disabled {
    color: rgb(106, 106, 106);
    display: flex;
    visibility: visible;
    overflow: visible;
}
